<a-scene>
  <a-assets>
    <a-asset-item id="railer-rail" src="/assets/railer-rail.dae"></a-asset-item>
  </a-assets>
  <a-entity id="sky"
    geometry="primitive: sphere; radius: 5000"
    material="shader: gradient; topColor: 000 000 050; bottomColor: 255 200 150"
    scale="-1 1 1">
    <!-- requires <script src="https://unpkg.com/aframe-gradient-sky@1.0.4/dist/gradientsky.min.js"></script> -->
  </a-entity>
  <a-entity id="dust"
    particle-system="preset: dust; color: #ff7f3f; particleCount: 2000; rotationAngle: 0; rotationAxis: z; texture: /assets/aframe-more/ideaspacevr/aframe-particle-system-component/smokeparticle.png">
    <!-- requires <script src="https://unpkg.com/aframe-particle-system-component@1.0.10/dist/aframe-particle-system-component.min.js"></script> -->
  </a-entity>
  <a-entity id="ocean"
    ocean="density: 30; width: 50; depth: 50; speed: 1"
    material="color: #1fbfcf; opacity: 0.8; metalness: 1; roughness: 0.8"
    rotation="-90 0 0">
    <!-- requires <script src="https://unpkg.com/aframe-extras.ocean@%3.8.6/dist/aframe-extras.ocean.min.js"></script> -->
  </a-entity>
  <a-mixin id="text-company"
    text="align: center; color: #ff3b69;
    value: Alkaline Games LLC™;
    width: 4000">
  </a-mixin>
  <a-mixin id="text-tagline"
    text="align: center; color: #ffbd5c;
    value: ...basically, we make games;
    width: 2000">
  </a-mixin>
  <a-entity position="0 500 -1000">
    <a-text mixin="text-company" position="0   50 0"></a-text>
    <a-text mixin="text-tagline" position="0 -100 0"></a-text>
  </a-entity>
  <a-entity position="-1000 500 0" rotation="0 90 0">
    <a-text mixin="text-company" position="0   50 0"></a-text>
    <a-text mixin="text-tagline" position="0 -100 0"></a-text>
  </a-entity>
  <a-entity position="1000 500 0" rotation="0 -90 0">
    <a-text mixin="text-company" position="0   50 0"></a-text>
    <a-text mixin="text-tagline" position="0 -100 0"></a-text>
  </a-entity>
  <a-entity position="0 500 1000" rotation="0 180 0">
    <a-text mixin="text-company" position="0   50 0"></a-text>
    <a-text mixin="text-tagline" position="0 -100 0"></a-text>
  </a-entity>
  <a-entity id="moon"
    geometry="primitive: sphere; radius: 20"
    material="color: #EFEFEF; shader: flat"
    position="-500 250 -1000"
    light="type: point; intensity: 1">
  </a-entity>
  <a-entity id="about" position="-5 2.5 -10">
    <a-text
      text="align: center; color: #ffffff; font: /assets/Jam3/Roboto-msdf.json;
      value: Co-founded by two tech and game industry\nveterans with over 25 years of experience each,\nwe specialize in VR for our own games and are\navailable for VR/AR contract development.\nFor more information contact us at info@alkalinegames.com;
      width: 8">
    </a-text>
  </a-entity>
  <a-entity id="railer" position="4 0.1 -10" rotation="0 90 0">
    <a-collada-model src="#railer-rail"
      animation="property: position; easing: easeInOutQuad; dir: alternate; dur: 1000; to: 0 0.15 0; loop: true">
      <!-- requires <script src="https://unpkg.com/aframe-animation-component@3.2.5/dist/aframe-animation-component.min.js"></script> -->
    </a-collada-model>
    <a-text position="-2 2 0" rotation="0 -120 0"
      text="align: center; color: #7fdfcf; font: /assets/Jam3/Roboto-msdf.json;
      value: Railer™ is our\noriginal Gear VR game\n coming soon...;
      width: 10">
    </a-text>
  </a-entity>
  <a-entity id="news" position="-0.55 1.1 -1.5" rotation="0 0 0">
    <a-text
      text="align: left; color: #ffff7f; font: /assets/Jam3/Roboto-msdf.json;
      value: NEWSFLASH\nSerafina spoke at the 2017\nDenver Comic-Con panels!\n(details also coming soon...);
      width: 2">
    </a-text>
  </a-entity>
</a-scene>

<h1>Alkaline Games LLC&trade;</h1>
<h2>...basically, we make games</h2>
<br>
<p class="alk-newsflash">
  <strong>NEWSFLASH</strong>: Serafina spoke at the 2017 Denver Comic-Con panels!
</p>
<p>
  Alkaline Games LLC™ is Co-Founded by two tech and game industry veterans, each with over 25 years experience.
  <br><br>
  We are excited to be focusing on VR Development and UX Design!
  <br><br>
  Our original Gear VR title, Railer&trade;, will be available soon.
  <br><br>
  We are also available for contract development.
  <br><br>
  More details and announcement will come soon.
  In meantime, please contact us at <a href="mailto:info@alkalinegames.com">info@alkalinegames.com</a>
</p>
