<a-scene>
  <a-assets>
    <a-asset-item id="railer-rail"
      src="/assets/railer-rail.dae"></a-asset-item>
  </a-assets>
  <a-camera
    look-controls="enabled: true; tiltEnabled: false"
    mouse-cursor="objects: .intersectable"
    wasd-controls-enabled="true">
    <a-cursor
      color="black"
      fuse-timeout="1"
      raycaster="far: 1500; objects: .intersectable"></a-cursor>
  </a-camera>
  <a-sky
    geometry="primitive: sphere; radius: 5000"
    material="shader: gradient; topColor: 000 000 050; bottomColor: 255 200 150"
    scale="-1 1 1">
    <!-- requires <script src="https://unpkg.com/aframe-gradient-sky@1.0.4/dist/gradientsky.min.js"></script> -->
  </a-sky>
  <a-ocean
    ocean="density: 30; width: 50; depth: 50; speed: 1"
    material="color: #1fbfcf; opacity: 0.8; metalness: 1; roughness: 0.8"
    rotation="-90 0 0">
    <!-- requires <script src="https://unpkg.com/aframe-extras.ocean@%3.8.6/dist/aframe-extras.ocean.min.js"></script> -->
  </a-ocean>
  <a-entity id="dust"
    particle-system="preset: dust; color: #ff7f3f; particleCount: 2000; rotationAngle: 0; rotationAxis: z; texture: /assets/aframe-more/ideaspacevr/aframe-particle-system-component/smokeparticle.png">
    <!-- requires <script src="https://unpkg.com/aframe-particle-system-component@1.0.10/dist/aframe-particle-system-component.min.js"></script> -->
  </a-entity>
  <a-entity id="section-brand" position="0 500 -1000">
    <a-text id="text-company"
      align="center"
      color="#ff3b69"
      font="/assets/Jam3/Roboto-msdf.json"></a-text>
    <a-text id="text-tagline"
      align="center"
      color="#ffbd5c"
      font="/assets/Jam3/Roboto-msdf.json"></a-text>
  </a-entity>
  <a-entity id="section-about" position="-250 150 -1000">
    <a-sphere id="sun-about" position="-18 150 -75" radius="60"
      color="#ffefcf" shader="flat"
      light="type: point; color: #ffefcf; intensity: 1.5"
      event-set__eclipse="_event: eventEclipse; light.intensity: 0.5"
      event-set__uneclipse="_event: eventUneclipse; light.intensity: 1.5">
    </a-sphere>
<!-- TODO: @@@ original settings here, changed for the eclipse
    <a-sphere id="moon-about" class="intersectable" visible=true
      radius= "50" color="#dfdfff" shader="flat"
      light="type: point; color: #dfdfff; intensity: 1"
      event-set__riseColor="_event: eventRise; material.color: #ffffff"
      event-set__sinkColor="_event: eventSink; material.color: #dfdfff"
      event-set__riseLight="_event: eventRise; light.intensity: 1.3"
      event-set__sinklight="_event: eventSink; light.intensity: 1"
      animation__rise="property: position; startEvents: eventRise; easing: easeInOutQuad; dur: 300; to: 0 130 0"
      animation__sink="property: position; startEvents: eventSink; easing: easeInOutQuad; dur: 300; to: 0 0 0">
-->
    <a-sphere id="moon-about" class="intersectable" visible=true
      radius="50" color="#557" shader="flat"
      event-proxy="listen: click; target: #handler-about; emit: eventShow"
      event-set__riseColor="_event: eventRise; material.color: black"
      event-set__sinkColor="_event: eventSink; material.color: #557"
      animation__rise="property: position; startEvents: eventRise; easing: easeInOutQuad; dur: 600; to: 0 130 0"
      animation__sink="property: position; startEvents: eventSink; easing: easeInOutQuad; dur: 600; to: 0 0 0">
    <!-- TODO: @@@ EVENT mouseenter IS NOT WORKING WELL
      event-proxy="listen: mouseenter; target: #handler-about; emit: eventShow"
    -->
<!-- TODO: @@@ original settings here, changed for the eclipse
      <a-text position="15 -6 60"
        text="align: center; color: #00003f; font: /assets/Jam3/Roboto-msdf.json;
-->
      <a-text position="15 -6 60"
        text="align: center; color: white; font: /assets/Jam3/Roboto-msdf.json;
        value: about;
        width: 600">
      </a-text>
    </a-sphere>
    <a-text id="text-about" position="0 -60 10" visible=false
      text="align: center; color: white; font: /assets/Jam3/Roboto-msdf.json;
            value: Co-founded by two tech and game industry\nveterans with over 25 years of experience each,\nwe specialize in VR for our own games and are\navailable for VR/AR contract development.\nFor more information contact us at info@alkalinegames.com;
            width: 900"
      event-set__invisible="_event: eventHide; visible: false"
      event-set__visible="_event: eventShow; visible: true">
    </a-text>
    <!-- NOTE: if plane comes before text then we get z-fighting -->
    <!-- DEPRECATED
    <a-plane id="plane-text-about" class="intersectable"
      width="900" height="400"
      material="transparent: true; opacity: 0"
      event-proxy="listen: mouseleave; target: #handler-about; emit: eventHide">
    -->
      <!-- TODO: @@@ SUPPORT INTERSECTION DETECTION, INCLUSIVELY INSTEAD OF EXCLUSIVELY
        the emitted raycaster event "raycaster-intersected-cleared"
        provides what we need because it is sent to *every* intersected object,
        not just the closest intersection, HOWEVER, the mouse-cursor component
        does not use the aframe raycaster component and so doesn't emit this event
      -->
    <!-- DEPRECATED
    </a-plane>
    -->
    <a-entity id="handler-about"
      event-proxy__a="listen: eventShow; target: #handler-railer; emit: eventHide"
      event-proxy__b="listen: eventShow; target: #moon-about; emit: eventRise"
      event-proxy__c="listen: eventHide; target: #moon-about; emit: eventSink"
      event-proxy__f="listen: eventShow; target: #sun-about; emit: eventEclipse"
      event-proxy__g="listen: eventHide; target: #sun-about; emit: eventUneclipse"
      event-proxy__d="listen: eventShow; target: #text-about; emit: eventShow"
      event-proxy__e="listen: eventHide; target: #text-about; emit: eventHide">
    </a-entity>
  </a-entity>
  <a-entity id="section-railer" position="2 0.1 -10">
    <a-collada-model id="model-railer" src="#railer-rail"
      animation="property: position; easing: easeInOutQuad; dir: alternate; dur: 1000; to: 0 0.15 0; loop: true"
      animation__turn="property: rotation; startEvents: eventTurn; easing: easeInOutQuad; dur: 600; to: 0 -90 0"
      animation__reset="property: rotation; startEvents: eventReset; easing: easeInOutQuad; dur: 600; to: 0 0 0">
      <a-box id="box-railer" class="intersectable"
        width=10 height=0.6 depth=1.6
        material="transparent: true; opacity: 0"
        event-proxy="listen: click; target: #handler-railer; emit: eventShow">
      <!-- TODO: @@@ EVENT mouseenter IS NOT WORKING WELL
        event-proxy="listen: mouseenter; target: #handler-railer; emit: eventShow">
      -->
      </a-box>
      <a-text id="text-railer"
        position="0 2 0" rotation="0 90 0" visible=false
        text="align: center; color: #9fe; font: /assets/Jam3/Roboto-msdf.json;
              value: Railer™ is our\noriginal Gear VR game\n coming soon...;
              width: 12"
        event-set__invisible="_event: eventHide; visible: false"
        event-set__visible="_event: eventShow; visible: true">
      </a-text>
    <!-- DEPRECATED
      <a-plane id="plane-railer-text" class="intersectable"
        position="0 0.5 -0.4" rotation="0 90 0" width="6.3" height="5"
        material="transparent: true; opacity: 0"
        event-proxy="listen: mouseleave; target: #handler-railer; emit: eventHide">
      </a-plane>
    -->
    </a-collada-model>
    <a-entity id="handler-railer"
      event-proxy__a="listen: eventShow; target: #handler-about; emit: eventHide"
      event-proxy__b="listen: eventShow; target: #model-railer; emit: eventTurn"
      event-proxy__c="listen: eventHide; target: #model-railer; emit: eventReset"
      event-proxy__d="listen: eventShow; target: #text-railer; emit: eventShow"
      event-proxy__e="listen: eventHide; target: #text-railer; emit: eventHide">
    </a-entity>
  </a-entity>
<!--
  <a-entity id="section-news" position="-0.55 1.1 -1.5" rotation="0 0 0">
    <a-text
      text="align: left; color: #ffff7f; font: /assets/Jam3/Roboto-msdf.json;
      value: NEWSFLASH\nSerafina spoke at the 2017\nDenver Comic-Con panels!\n(details also coming soon...);
      width: 2">
    </a-text>
  </a-entity>
-->
</a-scene>

<h1>Alkaline Games LLC&trade;</h1>
<h2>...basically, we make games</h2>
<br>
<p class="alk-newsflash">
  <strong>NEWSFLASH</strong>: Serafina spoke at the 2017 Denver Comic-Con panels!
</p>
<p>
  Alkaline Games LLC™ is Co-Founded by two tech and game industry veterans, each with over 25 years experience.
  <br><br>
  We are excited to be focusing on VR Development and UX Design!
  <br><br>
  Our original Gear VR title, Railer&trade;, will be available soon.
  <br><br>
  We are also available for contract development.
  <br><br>
  More details and announcement will come soon.
  In meantime, please contact us at <a href="mailto:info@alkalinegames.com">info@alkalinegames.com</a>
</p>

<script>
  function onResize() {
    const aspectRatio = window.innerWidth / window.innerHeight;
    const lowAspect = (aspectRatio < 1.0);
    let textCompany = document.getElementById("text-company")
    textCompany.setAttribute("value",
      lowAspect ? "Alkaline\nGames\nLLC" : "Alkaline Games LLC");
    textCompany.setAttribute("width",
      lowAspect ? "2500" : "3000");
    textCompany.setAttribute("position",
      lowAspect ? "0 100 0" : "0 50 0");
    let textTagline = document.getElementById("text-tagline")
    textTagline.setAttribute("value",
      lowAspect ? "...basically,\nwe make games" : "...basically, we make games");
    textTagline.setAttribute("width",
      lowAspect ? "1000" : "1500");
    textTagline.setAttribute("position",
      lowAspect ? "0 -160 0" : "0 -80 0");
  }
  onResize();
  document.getElementsByTagName("body")[0].setAttribute(
    "onResize", "onResize()");
</script>
<!--
<script>
  if (/Android|BB|BlackBerry|Mobile|Kindle|Opera Mini|PlayBook|Silk|Windows Phone|iPad|iPhone|iPod|webOS/i.test(navigator.userAgent)) {
    // TODO: @@@ FUTURE
    //enableMode("TiltLook");
  }
</script>
-->
